version: '3.8'

services:
  # === Infrastructure ===
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: krt-sqlserver
    environment:
      SA_PASSWORD: "KrtBank@2026!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql

  rabbitmq:
    image: rabbitmq:3-management
    container_name: krt-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: krt
      RABBITMQ_DEFAULT_PASS: krt123

  redis:
    image: redis:7-alpine
    container_name: krt-redis
    ports:
      - "6379:6379"

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: krt-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

  # === Services ===
  gateway:
    build:
      context: .
      dockerfile: src/Services/KRT.Gateway/KRT.Gateway/Dockerfile
    container_name: krt-gateway
    ports:
      - "5000:80"
    depends_on:
      - payments-api
      - onboarding-api
    environment:
      ASPNETCORE_ENVIRONMENT: Docker

  payments-api:
    build:
      context: .
      dockerfile: src/Services/KRT.Payments/KRT.Payments.Api/Dockerfile
    container_name: krt-payments
    ports:
      - "5002:80"
    depends_on:
      - sqlserver
      - rabbitmq
      - redis
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ConnectionStrings__DefaultConnection: "Server=sqlserver;Database=KrtPayments;User=sa;Password=KrtBank@2026!;TrustServerCertificate=true"
      RabbitMQ__Host: "rabbitmq"
      Redis__Configuration: "redis:6379"

  onboarding-api:
    build:
      context: .
      dockerfile: src/Services/KRT.Onboarding/KRT.Onboarding.Api/Dockerfile
    container_name: krt-onboarding
    ports:
      - "5001:80"
    depends_on:
      - sqlserver
      - rabbitmq
      - redis
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
      ConnectionStrings__DefaultConnection: "Server=sqlserver;Database=KrtOnboarding;User=sa;Password=KrtBank@2026!;TrustServerCertificate=true"
      RabbitMQ__Host: "rabbitmq"
      Redis__Configuration: "redis:6379"

volumes:
  sqlserver-data: