services:
  postgres:
    image: postgres:16-alpine
    container_name: krt-postgres
    environment:
      POSTGRES_USER: krt
      POSTGRES_PASSWORD: KrtBank2026
      POSTGRES_DB: krtbank
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U krt -d krtbank"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s

  rabbitmq:
    image: rabbitmq:3-management
    container_name: krt-rabbitmq
    ports:
      - "5672:5672"
      - "15680:15672"
    environment:
      RABBITMQ_DEFAULT_USER: krt
      RABBITMQ_DEFAULT_PASS: krt123
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s

  redis:
    image: redis:7-alpine
    container_name: krt-redis
    ports:
      - "6380:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: krt-keycloak
    command: start-dev
    volumes:
      - keycloak-data:/opt/keycloak/data
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      JAVA_OPTS_APPEND: "-Xms512m -Xmx1g"
      KC_DB_POOL_MIN_SIZE: 10
      KC_DB_POOL_MAX_SIZE: 50
    ports:
      - "8080:8080"

  seq:
    image: datalust/seq:2024.1
    container_name: krt-seq
    environment:
      ACCEPT_EULA: "Y"
    ports:
      - "5341:5341"
      - "8081:80"
    volumes:
      - seq-data:/data
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: krt-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "32181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: krt-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"

  gateway:
    build:
      context: .
      dockerfile: src/Services/KRT.Gateway/KRT.Gateway/Dockerfile
    container_name: krt-gateway
    ports:
      - "5000:80"
    depends_on:
      - payments-api
      - onboarding-api
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
    restart: unless-stopped

  payments-api:
    build:
      context: .
      dockerfile: src/Services/KRT.Payments/KRT.Payments.Api/Dockerfile
    container_name: krt-payments
    ports:
      - "5002:80"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      kafka:
        condition: service_started
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Services__OnboardingUrl: "http://onboarding-api:80/"
      ASPNETCORE_URLS: "http://+:80"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=krtbank;Username=krt;Password=KrtBank2026"
      Redis__ConnectionString: "redis:6379"
      Redis__Configuration: "redis:6379"
      RabbitMq__HostName: "rabbitmq"
      RabbitMq__UserName: "krt"
      RabbitMq__Password: "krt123"
      Kafka__BootstrapServers: "kafka:9092"
      Keycloak__Authority: "http://keycloak:8080/realms/krt-bank"
      Serilog__WriteTo__1__Args__serverUrl: "http://seq:5341"
    restart: unless-stopped

  onboarding-api:
    build:
      context: .
      dockerfile: src/Services/KRT.Onboarding/KRT.Onboarding.Api/Dockerfile
    container_name: krt-onboarding
    ports:
      - "5001:80"
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
      kafka:
        condition: service_started
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:80"
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=krtbank;Username=krt;Password=KrtBank2026"
      Redis__ConnectionString: "redis:6379"
      Redis__Configuration: "redis:6379"
      RabbitMq__HostName: "rabbitmq"
      RabbitMq__UserName: "krt"
      RabbitMq__Password: "krt123"
      Kafka__BootstrapServers: "kafka:9092"
      Keycloak__Authority: "http://keycloak:8080/realms/krt-bank"
      Keycloak__BaseUrl: "http://keycloak:8080"
      Keycloak__Realm: "krt-bank"
      Keycloak__ClientId: "krt-bank-app"
      Keycloak__AdminUser: "admin"
      Keycloak__AdminPassword: "admin"
      Serilog__WriteTo__1__Args__serverUrl: "http://seq:5341"
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: src/Web/KRT.Web/Dockerfile
    container_name: krt-web
    ports:
      - "4200:80"
    depends_on:
      - gateway
    restart: unless-stopped

volumes:
  postgres-data:
  seq-data:
  keycloak-data:

