name: krt-bank

services:
  postgres:
    image: postgres:15
    container_name: krt-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: krt_bank
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5433:5432"
    networks:
      - krt-network
    restart: always

  redis:
    image: redis:alpine
    container_name: krt-redis
    ports:
      - "6379:6379"
    networks:
      - krt-network
    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: krt-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - krt-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: krt-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - krt-network

volumes:
  pgdata:

networks:
  krt-network:
    driver: bridge