name: krt-bank

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: krt_bank
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - bank_pgdata:/var/lib/postgresql/data
    networks:
      - bank-net

  redis:
    image: redis:alpine
    ports:
      - "6380:6379"
    networks:
      - bank-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    ports:
      - "32181:2181"
    networks:
      - bank-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - bank-net

volumes:
  bank_pgdata:

networks:
  bank-net:
    driver: bridge
