name: krt-bank

services:
  postgres:
    image: postgres:15
    container_name: krt-bank-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - bank_pgdata:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    networks:
      - bank-net

  redis:
    image: redis:alpine
    container_name: krt-bank-redis
    ports:
      - "6380:6379"
    networks:
      - bank-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: krt-bank-zookeeper
    ports:
      - "32181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - bank-net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: krt-bank-kafka
    depends_on: [zookeeper]
    ports:
      - "29092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - bank-net

  seq:
    image: datalust/seq:2024.2
    container_name: krt-bank-seq
    environment:
      - ACCEPT_EULA=Y
    ports:
      - "5341:80"
    volumes:
      - seq_data:/data
    networks:
      - bank-net

  keycloak:
    image: quay.io/keycloak/keycloak:24.0.1
    container_name: krt-bank-keycloak
    command: start-dev
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: postgres
      KC_DB_PASSWORD: postgres
      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on: [postgres]
    networks:
      - bank-net

volumes:
  bank_pgdata:
  seq_data:

networks:
  bank-net:
    driver: bridge
